* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

nav img {
    width: 8rem;
    object-fit: contain;
}

header {
    height: 90vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 1) 100%), url(https://assets.nflxext.com/ffe/siteui/vlv3/21a8ba09-4a61-44f8-8e2e-70e949c00c6f/de5aa17a-29b6-4167-8c39-834aae8f328e/PK-en-20240722-POP_SIGNUP_TWO_WEEKS-perspective_WEB_8056b691-2a93-40af-add4-ca200ba1151b_large.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-weight: 900;
}

form {
    width: 60%;
}

form #floatingInput {
    color: white;
}

form .form-control:focus {
    border-color: white;
    box-shadow: none;
    border-width: medium;
}

form .form-floating>.form-control:focus~label {
    color: rgba(255, 255, 255, 0.7);
}

form .form-floating>.form-control:focus~label::after {
    background-color: transparent;
}

form .form-floating {
    width: 50%;
}

.section form .form-floating {
    width: 40%;
}

form #floatingInput {
    background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width:780px) {
    form .form-floating {
        width: 90%;
    }

    .section form .form-floating {
        width: 80%;
    }

    header {
        height: 80vh;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.8) 100%), url(https://assets.nflxext.com/ffe/siteui/vlv3/21a8ba09-4a61-44f8-8e2e-70e949c00c6f/de5aa17a-29b6-4167-8c39-834aae8f328e/PK-en-20240722-POP_SIGNUP_TWO_WEEKS-perspective_WEB_8056b691-2a93-40af-add4-ca200ba1151b_large.jpg);
        background-position: unset;

    }

    header section {
        margin-top: 3rem;
    }
}

.accordion-item {
    margin-bottom: 5px;
    background-color: rgb(45, 45, 45);
    color: white;
}

.accordion-button {
    background-color: rgb(45, 45, 45);
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.accordion-button:not(.collapsed) {
    background-color: rgb(65, 65, 65);
    color: white;
}

.accordion-button:hover {
    background-color: rgb(65, 65, 65);
}

.accordion-button:focus {
    border: none;
    text-shadow: none;
    box-shadow: none;
    background-color: rgb(45, 45, 45);
    color: white;
}

.accordion-button::after {
    background-image: url(icon.svg);
    transition: all 0.1s linear;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(icon.svg);
    transform: rotate(45deg);
}

footer li {
    list-style-type: none;
}

footer li ul a {
    color: #ffffffb3;
    text-align: start;
}

section a {
    color: white;
    text-decoration: none;
}

section a:focus,
section a:active {
    color: white;
}

footer li ul a:hover {
    color: #ffffffb3;
}